@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Merriweather&family=Nunito+Sans&family=Roboto:wght@400;700&family=Rubik:wght@400;500;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    
    --color-body: #ffffff;
    --color-heading: #3c3c3d;
    --color-base: #38b6ff;
    --color-base2: #83ec54;
    --color-brand: #e0f780;
    --color-brand2: #deff58;
    --font-base: "Rubik";
}


body{
    background-color: var(--color-body);
    color: var(--color-heading);
    font-family: var(--font-base), sans-serif !important;
}

h1, h2, h3, h4, h5, h6{
    color: var(--color-heading) !important;
    

    font-weight: 500;

}
img{
    width: 100%;
}



header{
    background-image:url(https://javiercerveral.github.io/dentia-merida//assets/media/bg.jpg);
    background-size: cover;
    height: 650px;
    position: relative;
    border-bottom: 5px solid var(--color-brand2);
}

.titulo{
    color: #3a89dc;
    font-size: 3em;
    font-weight: 700;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    
}

.subtitulo{
    font-size: 0.4em !important;

}



/* NAVBAR */

.container{
    max-width: 1030px;
}


#logo{
    width: 120px;
}


.blue{
    color: var(--color-base);
}

.green{
    color: #83ec54;
}

.nav .navbar{
    background-color: var(--color-body2) !important;
}

.nav-link{
    color: var(--color-base) !important;
    font-weight: 700;
}

span{
    color: #3c3c3d ;
}



.nav-link{
    text-decoration: none;
    color: var(--color-base) !important;
    
    transition: all 0.4s ease;
}

.nav-link:hover{
    color: var(--color-base2) !important;
}





.link-custom{
position: relative !important;

}

.link-custom::after{
    content: "" !important;
    width: 0% !important;
    height: 3px !important;
    background-color: var(--color-base2) !important;
    position: absolute !important;
    left: 0 !important;
    top: 80% !important;
    transition: all 0.4s !important;
    padding-bottom: 1px;
}

.link-custom:hover::after {
    width: 100% !important;
}





.btn{
    padding-left: 20px;
    padding-right: 20px;
    background-color: hsl(348, 100%, 61%);
    color: var(--color-body);
    font-weight: 600;
    border-color:  hsl(348, 100%, 61%);
    border-radius: 50px;
}


